.movie-details {
  margin-top: 100px;
  min-height: 80vh;
}

.details-poster {
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.details-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.details-overview {
  color: #B4B4C7;
  margin-bottom: 20px;
  line-height: 1.6;
}

.details-info p {
  margin-bottom: 8px;
}