.footer {
  background: var(--surface);
  color: var(--text);
  margin-top: 100px;
  padding-top: 60px;
  border-top: 1px solid rgba(212, 175, 55, 0.2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 50px 100px;
  gap: 40px;
}

/* Brand */
.footer-brand h2 {
  color: red;
}

.footer-brand p {
  color: var(--subtext);
  max-width: 300px;
  line-height: 1.6;
}

/* Section Titles */
.footer-links h4,
.footer-info h4 {
  color: var(--gold);
  margin-bottom: 20px;
}


.footer-links a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--subtext);
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--gold);
}

/* Info Text */
.footer-info p {
  color: var(--subtext);
  margin-bottom: 10px;
}


.footer-bottom {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(212, 175, 55, 0.15);
  font-size: 14px;
  color: var(--subtext);
}