.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #111827;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #8b5cf6;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #f9fafb;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #22d3ee;
}