.navbar {
  background: black;
  border-bottom: 2px solid var(--gold);
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--gold);
  font-size: 28px;
}

.nav-links a {
  margin-left: 40px;
  color: var(--text);
  text-decoration: none;
}